@page
@using Falcons.Models;
@inject UserManager<IdentityUser> UserManager
@model Falcons.Pages.management.FnB.OrderModel
@{ 
    ViewData["Title"] = "Order - Food and Beverages";
    var user = await UserManager.GetUserAsync(User);
}
@if (Model.FnBOrders != null)
{
    foreach (var item in Model.FnBOrders)
    {
        decimal totalPrice = 0;
        <div class="card" style="padding:2em;">
            <div class="card-header">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6"><h4>Order ID : @item.FnBOrderID</h4></div>
                        <div class="col-md-3"><h4>Customer : @UserManager.Users.Where(u => u.Id == item.UID).FirstOrDefault().UserName</h4></div>
                        <div class="col-md-3"><p class="h5">Order Date : @item.OrderDate.ToString("dd-MMM-yyyy")</p></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @foreach (var details in Model._context.FnBOrderDetails.Where(fd => fd.OrderID == item.FnBOrderID).ToList())
                {
                    List<string> img;
                    ProductDetails ProductInfo = Model._context.ProductDetails.Find(details.ProductDetailID);
                    Product productDesc = Model._context.Products.Find(ProductInfo.ProductID);
                    if (!String.IsNullOrWhiteSpace(productDesc.ImageURL))
                    {
                        img = productDesc.ImageURL.Split(",").ToList();
                    }
                    else
                    {
                        img = new List<string>();
                        img.Add("/assets/img/No-Image.png");
                    }

                    totalPrice += details.ProductPrice;

                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/img/products/@img[0]" style="max-height:200px;max-width:300px;" />
                        </div>
                        <div class="col-md-8">
                            <h5 class="mt-1">@Html.Raw(productDesc.ProductTitle + " (" + ProductInfo.Size + ")")</h5>
                            <h6 class="mt-1">@Html.Raw("Price : RM" + details.ProductPrice)</h6>
                            <h6 class="mt-1">@Html.Raw("Quantity : " + details.Quantity)</h6>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>Total Price</p>
                </div>
                <div class="col-md-3">RM @totalPrice</div>
            </div>
        </div>
    }
}
