@page
@model IndexModel
@{

    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

@section Styles{

    <style>
        .float-button {
            position: fixed;
            right: -77px;
            top: 270px;
            transition: all 0.2s ease-in 0s;
            //this is the key attribute z-index: 9999;
            cursor: pointer;
        }
        .float-button:hover {
             right: -7px;
             //hide it by pushing it off the screen
        }
    </style>

}

<div class="float-button">
    <a asp-page="/Ticketing/Ticketing" class="button btn-info btn">Quick Book</a>
</div>

<!-- Movie Banner Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="assets/main/img/banner-movies/a-quiet-place-part-II.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div></div>
                            <h2>A Quiet Place 2</h2>
                            <p></p>
                            <a asp-page="/Ticketing/Ticketing"><span>Book Now</span></a> <a href="#ViewMovie"><span>Now Showing</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="assets/main/img/banner-movies/dont-breathe-2.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div></div>
                            <h2>Don't Breathe 2</h2>
                            <p></p>
                            <a asp-page="/Ticketing/Ticketing"><span>Book Now</span></a><a href="#ViewMovie"><span>Now Showing</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="assets/main/img/banner-movies/sinkhole.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div></div>
                            <h2>Sinkhole</h2>
                            <p></p>
                            <a asp-page="/Ticketing/Ticketing"><span>Book Now</span></a> <a href="#ViewMovie"><span>Now Showing</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Movie Banner Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title" id="ViewMovie">
                                <h4>Now Showing</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                @*<a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.Movies)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="assets/img/movies/@item.MoviesImgURL" alt="@item.MovieName">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@Html.DisplayFor(m => item.Category)</li>
                                        </ul>
                                        <h5><a asp-page="MovieDetail" asp-route-id="@item.MovieID">@Html.DisplayFor(m => item.MovieName)</a></h5>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="product__sidebar">
                            <div class="section-title">
                                <h5>Recommend</h5>
                            </div>
                            <div class="filter__gallery">

                                @foreach (var item in Model.Movies.Reverse())
                                {
                                    <div class="product__sidebar__view__item set-bg"
                                         data-setbg="assets/img/movies/@item.MoviesImgURL">

                                        <div></div>
                                        <div></div>
                                        <h5><a asp-page="MovieDetail" asp-route-id="@item.MovieID">@Html.DisplayFor(m => item.MovieName)</a></h5>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Product Section End -->