@page
@model Falcons.Pages.management.FnB.Inventory.IndexModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Food and Beverages Inventory";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Inventory Item</div>
            </div>
            <div class="card-body">
                <!-- Button -->
                <div class="d-flex">
                    <button class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal" data-target="#AddInventoryItemModal">
                        <i class="fa fa-plus"></i>
                        Add Inventory Item
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="AddInventoryItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        New
                                    </span>
                                    <span class="fw-light">
                                        Inventory Item
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form role="form" method="post">
                                <div class="modal-body">
                                    <p class="small">Please fill in all the field.</p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodType.Title"></label>
                                                <input asp-for="FoodType.Title" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodType.Type"></label>
                                                <input asp-for="FoodType.Type" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer no-bd">
                                    <button type="submit" asp-page-handler="CreateFoodType" class="btn btn-primary">Add</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal End -->
                <!-- Table -->
                <div class="table-responsive">
                    <table id="InventoryTypeTable" class=" display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row"></tr>

                            <tr role="row">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AllFoodTypes != null)
                            {
                                @foreach (var item in Model.AllFoodTypes)
                                {
                                    <tr>
                                        <td>@item.FID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Type</td>
                                        <td>
                                            <div class="form-button-action">
                                                <a href="/management/FnB/Inventory/Edit?id=@item.FID" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="/management/FnB/Inventory/Delete?id=@item.FID" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Table End -->

            </div>
        </div>
    </div>
</div>



<!-- Package Table -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Inventory Record
                </div>
            </div>
            <div class="card-body">
                <!-- Button -->
                <div class="d-flex">
                    <button class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal" data-target="#AddInventoryRecordModal">
                        <i class="fa fa-plus"></i>
                        Add Inventory Record
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="AddInventoryRecordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        New
                                    </span>
                                    <span class="fw-light">
                                        Inventory Record
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form role="form" method="post">
                                <div class="modal-body">
                                    <p class="small">Please fill in all the field.</p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.FID"></label>
                                                <select asp-for="FoodInventory.FID" asp-items="Model.FoodTypeOptions" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.Quantity"></label>
                                                <input asp-for="FoodInventory.Quantity" type="number" min="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.Price"></label>
                                                <input asp-for="FoodInventory.Price" type="number" min="0" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.Date"></label>
                                                <input asp-for="FoodInventory.Date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.RecordType"></label>
                                                <select asp-for="FoodInventory.RecordType" class="form-control">
                                                    <option>Purchase</option>
                                                    <option>Return</option>
                                                    <option>Consume</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="FoodInventory.Description"></label>
                                                <textarea asp-for="FoodInventory.Description" rows="8" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer no-bd">
                                    <button type="submit" asp-page-handler="CreateFoodInventoryRecord" class="btn btn-primary">Add</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal End -->
                <!-- Table -->
                <div class="table-responsive">
                    <table id="InventoryRecordTable" class=" display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row"></tr>

                            <tr role="row">
                                <th>ID</th>
                                <th>Item Name</th>
                                <th>Quantity(Unit/KG)</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Record Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FoodInventories != null)
                            {
                                @foreach (var item in Model.FoodInventories)
                                {
                                    <tr>
                                        <td>@item.RecordID</td>
                                        <td>@item.FoodType.Title</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Price.ToString("c")</td>
                                        <td>@item.Date.ToString("dd-MMM-yyyy") </td>
                                        <td>@Html.Raw((item.Description.Length > 60 ? item.Description.Substring(0, 60) + " ..." : item.Description))</td>

                                        <td>@item.RecordType</td>
                                        <td>
                                            <div class="form-button-action">
                                                <a href="/management/FnB/Inventory/EditInventoryRecord?id=@item.RecordID" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <form method="post">
                                                    <input type="hidden" value="@item.RecordID" asp-for="RecordID"/>
                                                    <button asp-page-handler="DeleteFoodInventoryRecord" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Table End -->
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>

        $('#InventoryTypeTable').DataTable({
            "pageLength": 10
        });
    </script>
    <script>

        $('#InventoryRecordTable').DataTable({
            "pageLength": 10,
            "order": [[4, "desc"]]
        });
    </script>
}