@page
@model Falcons.Pages.management.Ticketing.BookingModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Booking Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Booking Information</div>
            </div>
            <div class="card-body">
               
                <!-- Table -->
                <div class="table-responsive">
                    <table id="booking" class=" display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row"></tr>

                            <tr role="row">
                                <th>ID</th>
                                <th>Username</th>
                                <th>Movie Name</th>
                                <th>Showroom</th>
                                <th>Showing Date</th>
                                <th>Showing Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Model.Booking)
                            {
                            <tr>
                                <td>@Html.DisplayFor(Booking => items.ID)</td>
                                <td>@Html.DisplayFor(Booking => items.UID)</td>
                                <td>@Html.DisplayFor(Booking => Model.Showtime.Where(shw => shw.ShowroomID == items.Showtime.ShowroomID).FirstOrDefault().Showroom.ShowroomName)</td>
                                <td>@Html.DisplayFor(Booking => Model.Movies.Where(m => m.MovieID == items.MID).FirstOrDefault().MovieName)</td>
                                <td>@Html.DisplayFor(Booking => Model.Showtime.Where(sh => sh.ShowtimeID == items.showtimeID).FirstOrDefault().StartDate)</td>
                                <td>@Html.DisplayFor(Booking => Model.Showtime.Where(sh => sh.ShowtimeID == items.showtimeID).FirstOrDefault().StartTime)</td>


                                <td>
                                    <div class="form-button-action">

                                        <button asp-page-handler="Delete" asp-route-id="@items.ID"
                                                onclick="return confirm('Are you sure to delete this record?')"
                                                data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger"
                                                data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('#booking').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-simple-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-simple-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

  
    </script>
}
