@page
@using Falcons.Models
@model Falcons.Pages.management.Ticketing.BookingModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Booking Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Booking Information</div>
            </div>
            <div class="card-body">
                <!-- Button-->
                <div class="d-flex">
                    <button class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal" data-target="#addBookingRecordsModal">
                        <i class="fa fa-plus"></i>
                        Add booking record
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addBookingRecordsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        Add Booking Records
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="small">Please fill in all the field.</p>
                                <form role="form" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="Booking.email">Email</label>
                                                <input asp-for="Booking.email" class="form-control" type="email" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="Booking.movieName">Movie Name</label>
                                                <input asp-for="Booking.movieName" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="Booking.bookingDateTime">Booking Date</label>
                                                <input asp-for="Booking.bookingDateTime" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="Booking.showDateTime">Showing Date</label>
                                                <input asp-for="Booking.showDateTime" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label asp-for="Booking.amount">Amount</label>
                                                <input asp-for="Booking.amount" class="form-control" type="number" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer no-bd">
                                <button type="submit" id="addBookingRecordsButton" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table id="booking" class=" display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row"></tr>

                            <tr role="row">
                                <th>Username</th>
                                <th>Movie Name</th>
                                <th>Booking Details</th>
                                <th>Showing Details</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in Model.BookingList)
                            {
                            <tr>
                                <td>@Html.DisplayFor(Booking => items.email)</td>
                                <td>@Html.DisplayFor(Booking => items.movieName)</td>
                                <td>@Html.DisplayFor(Booking => items.bookingDateTime)</td>
                                <td>@Html.DisplayFor(Booking => items.showDateTime)</td>
                                <td>@Html.DisplayFor(Booking => items.amount)</td>

                                <td>
                                    <div class="form-button-action">
                                        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('#booking').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-simple-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-simple-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

  
    </script>
}
