@page
@model Falcons.Pages.management.Ticketing.ManageBookingModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Manage Booking Details";
}

<div class="col-md-12">
    <div class="card">
        <form method="post">
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Movie Name</th>
                            <th>Ticket Type</th>
                            <th>Hall No</th>
                            <th>Showing Time</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var items in Model.Bookings)
                        {

                            <tr>
                                <td>@Html.DisplayFor(b => items.username)</td>
                                <td>@Html.DisplayFor(b => items.Showtime.Movies.MovieName)</td>
                                <td>@Html.DisplayFor(b => items.ticketType)</td>
                                <td>@Html.DisplayFor(b => items.Showtime.Showroom.ShowroomName)</td>
                                <td>@Html.DisplayFor(b => items.Showtime.StartTime)</td>
                                <td>@Html.DisplayFor(b => items.Date)</td>
                                <td>
                                    <div class="form-button-action">
                                        <button asp-page-handler="Delete" asp-route-id="@items.BID" onclick="return confirm('Confirm Delete')" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>


                        }

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
